<a href="https://colab.research.google.com/github/sujithapadala/python-exercise/blob/main/26_04_22_asmt.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1.To print odd no in given range

In [1]:
a=int(input())
b=int(input())
for i in range(a,b):
  if i%2!=0:
    print(i)

5
8
5
7

2.To print prime no in given range

In [3]:
17def prime(a,b):
  for i in range(a,b):
    k=0
    for j in range(1,i):
      if i%j==0:
        k+=1
    if k==1:
      print(i)
prime(int(input()),int(input()))

5
17
5
7
11
13

3.TO PRINT no of days in a month

In [4]:
mon=int(input())
if mon==1 or mon==3 or mon==5 or mon==7 or mon==8 or mon==10 or mon==12:
  print("31") 
elif mon==4 or mon==6 or mon==9 or mon==8 or mon==11 : 
    print("30") 
elif mon==2: 
    print("28")    
else:
  print("not found")

15
not found

4.To print even length

In [12]:
word=str(input())
word=word.split(' ')
for a in word:
  if len(a)%2==0:
    print(a)

suji
suji

5.To print 1st and last capital

In [6]:
String = input('')
String = String[0:1].upper() + String[1:len(String)-1] + String[len(String)-1:len(String)].upper()
print(String)

suji
SujI

6.To convert multiple integers to single integers

In [7]:
a=[11,14,18,17]
for i in a:
  print(i,end="")

11141817

7.Write a program to print power of no

In [13]:
a=int(input())
b=int(input())
c=pow(a,b)
c

8
10

1073741824

8.To sort tupple by total digits input
list=[(4,3,5,863),(9,2)(154,284,43)]

*   List item
*   List item

In [14]:
list=[(4,3,5,863),(9,2),(154,284,43)]
list.sort()
print(list)

[(4, 3, 5, 863), (9, 2), (154, 284, 43)]

9.Take 5 subject marks from student and display the grade of student

In [15]:
s1=int(input())
s2=int(input())
s3=int(input())
s4=int(input())
s5=int(input())
avg=(s1+s2+s3+s4+s5)/5
if avg>90:
  print("A+")
elif 80<avg<90:
  print("A") 
elif 70<avg<80:
  print("B") 
elif 60<avg<70:
  print("C") 
elif 50<avg<60:
  print("D") 
elif 40<avg<50:
  print("E")    
else:
  print("F")

85
45
33
25
66
D

10.Write a python program that prints 1 if all no are in ascending order

In [18]:
a=int(input())
b=int(input())
c=int(input())
if a<b<c :
  print("1")
else:
  print("0")

8
7
6
0

11.Check give no is perfect or not

In [19]:
n = int(input())
sum = 0
for i in range(1, n):
    if(n % i == 0):
        sum = sum + i
if (sum == n):
    print("The number is a Perfect number")
else:
    print("The number is not a Perfect number")

49
The number is not a Perfect number

12.Find Gcd of given no with and without recrusion

In [20]:
def gcd(a,b):
    if(b==0):
        return a
    else:
        return gcd(b,a%b)
a=int(input("Enter first number:"))
b=int(input("Enter second number:"))
GCD=gcd(a,b)
print("GCD is: ")
print(GCD)

Enter first number:85
Enter second number:95
GCD is:
5

13.print sum of even digits in a no

In [21]:
a=str(input())
sum=0
for i in a:
  if int(i)%2==0:
    sum=sum+int(i)
print(sum)

5
0

14.Calculate the  sum of squares of digits of a no.

In [22]:
num = int(input())
sum = 0
while num!=0:
    rem = num%10
    sqr = rem*rem
    sum = sum+sqr
    num = int(num/10)
print(sum)

5
25

15.given a string is s=abcdefcba how many times i

In [23]:
a=str(input())
b=a[::-1]
l=int((len(a)/2))
c=0
for i in range(0,l):
  if a[i]==b[i]:
    c=c+1
print(c)

5
0

16.print count front back matches

In [24]:
a=str(input())
b=a[::-1]
l=int((len(a)/2))
c=0
for i in range(0,l):
  if a[i]==b[i]:
    c=c+1
print(c)

5
0

17.repeat the n no for n times [1,5,5,3,3,3,8,8,8,8]

In [25]:
n=int(input())
a=0
for x in range(0,n):
  if a<x:
   print(x*x)

8
1
4
9
16
25
36
49

18.print no of vowels and consonants

In [26]:
a=input()
v=0
c=0
for i in a:
  if i=='a' or i=='e' or i=='o'or i=='u'or i=='i':
    v+=1
  else:
    c+=1
print(v)
print(c)

sujitha
3
4

19.given two integers A and B .if  a<b print all no in ascending or else in descending

In [28]:

a=int(input())
b=int(input())
if a<b:
  for i in range(a,b):
    print(i)
else:
  for i in range(a,b,-1):
    print(i)

8
5
8
7
6

20.fin max of 3 no

In [29]:
a=int(input())
b=int(input())
c=int(input())
if (a >= b) and (a >= c):
   largest = a
elif (b >= a) and (b >= c):
   largest = b
else:
   largest = c

print("The largest number is", largest)

58
48
75
The largest number is 75

21.write a program to count no of strings where the string length is 2 or more and 1st and last is same

In [31]:
def match(words):
  d=0
  for x in words:
    if len(word) > 1 and x[0] == x[-1]:
      d+=1
  return d
  print(match(['abc','xyz','aba','1221']))

22.days as input,no of round trips ,cal the tot distance if tot dis is <40000m print need  to work hard

In [32]:
days=int(input())
no=int(input("enter no of meters"))
dis=days*no
if dis<40000:
  print("need to work more")
else:
  print("well done")

456
enter no of meters879
well done

23.given a list of students names i l and a charcter and display the names whose name are given in capital.

In [34]:
test_str =['cello','Cello']
print("The original string is : " + str(test_str))
for ele in test_str:
   if ele.isupper():
     print(ele)

The original string is : ['cello', 'Cello']

24.given a list of city names whose len is greater than given len
['hyderabad','Mumbai','vizag']

In [39]:
list=['hyderabad','Mumbai','vizag']
l=int(input())
for x in list:
  if len(x)>l:
    print(x)

8
hyderabad