<a href="https://colab.research.google.com/github/sujithapadala/python-exercise/blob/main/Assignment_1%5B289%5D.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Accept input from user and store it in variable and print the value

In [5]:
a=input()
print(a)

8
8

Use of print statements and use of (.format )for printing different data types

In [6]:
a=9.7;
print(type(a));
#before conversion
b=str(a);
print(b);
print(type(b));
#after conversion
e=complex(a);
print(e);
print(type(e));
c=int(a);
print(c);
print(type(c));
d=bool(a);
print(d);
print(type(d));

<class 'float'>
9.7
<class 'str'>
(9.7+0j)
<class 'complex'>
9
<class 'int'>
True
<class 'bool'>

Take 2 numbers as user input and add, multiply, divide, subtract, remainder and print the output

In [14]:
A=int(input())
B=int(input())
sum=A+B
multi=A*B
div=A/B
sub=A-B
print(sum,multi,div,sub)

8
4
12 32 2.0 4

Conversion of one unit to another (such as hours to minutes, miles to km and etc)

In [ ]:
hour=int(input())
miles=int(input())
min=hour*60
km=1.60934*miles
print(min,km)

10
12
600 19.31208

Usage of mathematical functions in python like math.ceil, floor, fabs, fmod, trunc,pow, sqrt etc

In [15]:
import math
print(math.ceil(9.9))
print(math.floor(9.9))
print(math.fabs(-40))
print(math.fmod(14, 4))
print(math.trunc(8.68))
x = pow(8, 2)
print(x)
print (math.sqrt(81))

10
9
40.0
2.0
8
64
9.0

Building a mathematical calculator that can perform operations according to user input.

In [16]:
A = float(input("Enter 1st number: "))
B = float(input("Enter 2nd number: "))
print("Operation: +, -, *, /")
select = input("Select operations: ")
if select == "+":
    print(A, "+", B, "=", A+B)
elif select == "-":
    print(A, "-", B, "=", A-B)
elif select == "*":
    print(A, "*", B, "=", A*B)
elif select == "/":
    print(A, "/", B, "=", A/B)
else:
    print("Invalid input")

Enter 1st number: 8
Enter 2nd number: 6
Operation: +, -, *, /
Select operations: +
8.0 + 6.0 = 14.0

Accepting 5 different subject marks from user and displaying the grade of the student

In [18]:
english=int(input())
maths=int(input())
science=int(input())
chemistry=int(input())
social=int(input())
total=(english+maths+science+chemistry+social)/5
if total > 90:
  print("A")
elif total > 80 :
  print("B")
elif total > 70 :
  print("C")
elif total > 60 :
  print("D")    
elif total > 50 :
  print("E")
elif total > 40 :
  print("F")

40
55
95
66
10
E

Printing all even numbers, odd numbers, count of even numbers, count of odd numbers within a given range.

In [20]:
X=int(input())
Y15
=int(input())
c=0  #c is count of even numbers
o=0 
for a in range(X,Y):
  if(x%2==0) :
    print(x)
    c=c+1
  elif(x%2!=0) :
    print("0is odd",x)
    o=o+1
print(c)
print(o)

5
15
64
64
64
64
64
64
64
64
64
64
10
0

Compute the factorial of a given number

In [ ]:
number = int(input("Enter a no: "))    
factorial = 1    
if number < 0:    
   print(" Factorial does not exist for negative nos")    
elif number == 0:    
   print("The factorial of 0 is 1")    
else:    
   for i in range(1,number + 1):    
       factorial = factorial*i    
   print("The factorial of",number,"is",factorial)

Enter a no: 2
The factorial of 2 is 2

 Compute GCD of two given numbers

In [21]:
X =int(input("Enter a no: ")) 
Y =int(input("Enter a no: "))
if X > Y:
  X, Y = Y, X
for i in range(1,X+1):
  if X%i == 0 and Y%i == 0:
    gcd = i

print("GCD of", X, "and", Y, "is:", gcd)

Enter a no: 2
Enter a no: 8
GCD of 2 and 8 is: 2

Generate Fibonacci series up to N numbers

In [25]:
Z = int(input())
num1, num2 = 0, 1
c = 0
print("Fibonacci sequence:")
while c < Z:
       print(num1)
       Zth = num1 + num2
       num1 = num2
       num2 = Zth
       c += 1

8
Fibonacci sequence:
0
1
1
2
3
5
8
13

Check whether the given input is  palindrome

In [27]:
suji=int(input("Enter a nober:"))
a=suji
reverse=0
while(suji>0):
    dgiit=suji%10
    reverse=reverse*10+dgiit
    suji=suji//10
if(a==reverse):
    print("It is a palindrome!")
else:
    print("Not a palindrome!")

Enter a nober:8
It is a palindrome!

Check whether the given input is strong

In [30]:
num=int(input("Enter a number:"))
sum=0
act=num
while(num):
    i=1
    f=1
    r=num%10
    while(i<=r):
        f=f*i
        i=i+1
    sum=sum+f
    num=num//10
if(sum==act):
    print("The number is a strong number")
else:
    print("The number is not a strong number")

Enter a number:85
The number is not a strong number

Check whether the given input is perfect

In [28]:
x=int(input("Enter a number:"))
s=0
for i in range(1, x):
    if(X % i == 0):
        s = s + i
if (s == x):
    print("Perfect nober")
else:
    print("not a Perfect nober")

Enter a number:5
not a Perfect nober

Compute compound interest using loop for a certain principal and interest amount

In [29]:
x=int(input("principle amount:"))
rate=int(input("rate:"))
years=int(input("number of years:"))
for i in range(years):
    x=x+((x*rate)/100)
print(x)

principle amount:555
rate:5
number of years:2
611.8875